name: Notify when a priority label is applied

on:
  issues:
      types: [labeled]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
        - uses: jenschelkopf/issue-label-notification-action@1.3
          with:
             recipients: |
                  bug=@rob-derosa
                  dependencies=@rob-derosa